<div class="navTab" ng-controller="commonCtrl">
	<ul>
		<li ng-click="gotopanel('/index')">
			<div>
				<img ng-src="{{icon.xxfw}}" alt="">
				<p ng-class="{'active':icon.xxfw == './res/img/xxfw_a.png'}">信息服务</p>
			</div>
		</li>
		<li ng-click="gotopanel('/search')">
			<div>
				<img ng-src="{{icon.ywcx}}" alt="">
				<p ng-class="{'active':icon.ywcx == './res/img/ywcx_a.png'}">业务查询</p>
			</div>
		</li>
		<li ng-click="gotopanel('/myMessage')">
			<div>
				<img ng-src="{{icon.wdxx}}" alt="">
				<p ng-class="{'active':icon.wdxx == './res/img/wdxx_a.png'}">我的消息</p>
			</div>
		</li>
	</ul>
</div>
