html{
	font-size: 14px;
}
.headerContainer{
	background: #d33b30;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}
.user{
	display: inline-block;
	position: absolute;
	font-size: 2rem;
	height: 3.2142rem;
	line-height: 3.2142rem;
	padding-left: 1rem;
	color: #ffffff;
}
.title{
	height: 3.2142rem;
	line-height: 3.2142rem;
	font-weight: normal;
	color: #ffffff;
	margin: 0;
}
.goback{
	background: url("/res/img/back.png") no-repeat;
	width: 12px;
	background-size: 70%;
    background-position-y: 50%;
    margin-left: 12px;
}
.userImg{
	font-size: 24px;
}
.navTab{
	width: 100%;
	border-top: 1px solid #e5e5e5;
	position: fixed;
	left: 0;
	bottom: 0;
	box-sizing: border-box;
	background: #FFFFFF;
}
.navTab ul{
	list-style: none;
	box-sizing: border-box;
	font-size: 0;
	padding: 0;
	margin-bottom: 0;
}
.navTab ul li{
	width: 33.333%;
	display: inline-block;
	text-align: center;
	font-size: 0.7142rem;
}
.navTab ul li p{
	margin-bottom: 0;
	line-height: 10px;
	margin: 6px 0;
}
.navTab ul li .active{
	color: #D33B30;
}
.navTab ul li img{
	width: 1.5rem;
	margin-top: 7px;
}
.buttomIcon{
	font-size: 2rem;
	padding: 0.5rem 0;
}
body{
	padding-bottom: 3rem;
	padding-top: 3.2142rem;
	background: #F9F7FF;
}