.list{
	width: 100%;
	height: 3.5714rem;
	line-height: 3.5741rem;
	box-sizing: border-box;
}
.list ul{
	list-style: none;
	box-sizing: border-box;
	font-size: 0;
	padding: 0;
}
.list ul li{
	width: 33.333%;
	font-size: 1rem;
	display: inline-block;
	text-align: center;
	background: #f3f3f3;
	border-bottom: #cbcbcb 1px solid;
}
.list ul li.active{
	border-bottom: 1px solid #b93332;
	background: #FFFFFF;
}
.rotation{
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
}
.rotation img{
	width: 100%;
}
.infoList{
	box-sizing: border-box;
}
.infoList ul{
	list-style: none;
	padding: 0;
}
.infoList ul li{
	border-top: 1px solid #a6a6a6;
	padding: 10px;
}
.infoList ul li .time{
	text-align: right;
	color: #979797;
	font-size: 0.9rem;
}
.rotation .swiper-slide span{
	display: inline-block;
    background: rgba(0,0,0,0.5);
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    width: 100%;
    font-size: 1.2rem;
}