.contentDetail ul{
	list-style: none;
	box-sizing: border-box;
	padding-left: 0;
	max-height: 100%;
	overflow: auto;
}
.contentDetail ul li{
	padding: 1rem 0;
	border-top: 1px solid #dddddd;
}
.contentDetail ul li:first-child{
	border-top: 0px ;
}
.contentDetail ul li a,.contentDetail ul li a:visited{
	text-decoration: none;
	color: #000000;
}
.contentDetail ul li .searchTitle{
	font-weight: bold;
	float: left;
	width: 25%;
}
.contentDetail ul li .content{
	display: inline-block;
	width: 75%;
}
.contentDetail .searchTitle{
	font-size: 16px;
}
.contentDetail .content{
	font-size: 14px;
	color: #9B9B9B;
}