.funcList{
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-size: 0;
}
.funcList li span{
	color: #000000;
	font-size: 3rem;
	box-sizing: border-box;
	padding: 5px;
}
.funcList li{
	width: 33.3333%;
	text-align: center;
	float: left;
	font-size: 1rem;
	margin: 1rem 0;
	cursor: pointer;
}
.funcList li img{
	width: 60px;
}
.funcList li a{
	color: #000000;
	text-decoration: none;
}
.funcList li p{
	font-size: 12px;
	width: 50%;
	margin:0 auto;
	text-align: center;
    padding: 0.5rem 0;
    height: 2.5rem;
}
.subFunList{
	list-style: none;
}