<div class="headerContainer" ng-controller="commonCtrl">
	<span class="goback user" ng-click="goback()"></span>
	<h4 class="text-center title" ng-bind="title"></h4 class="text-center">
</div>
<section class="loginSection" ng-if="!status">
	<form class="">
		<span><img src="./res/img/user.png" alt=""></span><input class="login_input" type="text" placeholder="请输入用户名" ng-model="login.userNo">
		<span><img src="./res/img/pwd.png" alt=""></span><input class="login_input" type="password" placeholder="请输入密码" ng-model="login.userPwd">
		<button class="login_btn" ng-click="login(login)" ng-bind="loginTips" ng-disabled="loginTips == '登录中'"></button>
	</form>
</section>
<section class="loginSection" ng-if="status">
	<form class="">
		<p>当前登录的用户：</p>
		<p ng-bind="loginInfo.user.userName"></p>
		<button class="login_btn" ng-click="logout()">注销</button>
	</form>
</section>