<div class="headerContainer">
	<h4 class="text-center title" ng-bind="title"></h4 class="text-center">
</div>
<section class="loginSection">
	<form class="">
		<input class="form-control" type="text" placeholder="请输入用户名" ng-model="login.userNo">
		<input class="form-control" type="password" placeholder="请输入密码" ng-model="login.userPwd">
		<button class="btn btn-login btn-block" ng-click="login(login)" ng-bind="loginTips?'登录中...':'登录'" ng-disabled="loginTips"></button>
	</form>
</section>
<div ng-include="'tpl/common/bottom.html'"></div>