<div ng-include="'tpl/common/messageheader.html'"></div>
<div class="contentContainer">
	<section class="headerDetail">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="请输入查询内容" aria-describedby="basic-addon1" ng-model="searchStr">
			<span class="input-group-btn">
			<button class="btn btn-primary" type="button" ng-click="clickSearch()">搜索</button>
			</span>
		</div>
	</section>
	<section class="contentDetail">
		<ul>
			<li ng-repeat="data in regulationList">
				<div ng-click="goToDetail(data)">
					<p><span class="searchTitle">标题 :&nbsp; </span><span class="content" ng-bind="data.subject"></span></p>
					<p><span class="searchTitle">发布部门 :&nbsp; </span><span class="content" ng-bind="data.creatorname"></span></p>
					<p><span class="searchTitle">发布时间 :&nbsp; </span><span class="content" ng-bind="data.createtime | date:'yyyy-MM-dd'"></span></p>
				</div>
			</li>
			<li ng-if="regulationList.length == 0">
				<div>
					<p>暂未查询到相关信息，请稍后再试</p>
				</div>
			</li>
			<li class="text-center" ng-if="ajaxData.pageNum < ajaxData.pageCount">
				<a href="javascript:;" ng-click="loadMore(ajaxData.pageNum)">点击加载更多</a>
			</li>
			<li class="text-center" ng-if="ajaxData.pageNum >= ajaxData.pageCount">
				<a href="javascript:;">没有更多了</a>
			</li>
			
		</ul>
	</section>
</div>
<div ng-include="'tpl/common/bottom.html'"></div>